---
import Layout from '../../layouts/Layout.astro';
import Window from '../../layouts/Window.astro';
import ListWindow from '../../components/ListWindow.astro';

import * as data from '../../data/npcs.json';

const names = data.name;
const personalities = data.personality;
---
<!-- 
    TODO
    Resize/Close button event handling
    Double loading data? Can I pass it from astro template to client side instead of importing again?
    Implement NPC History list
    Tinker more with .resize and overall layout for "windows"
    X Convert tables to component
-->

<Layout title="NPC Appendix">
    <div class="container mx-auto">
        <section class="flex flex-wrap sm:basis-1/12 items-start justify-center md:justify-between">
            <Window title="Generate" classes="flex-shrink">
                <div class="window-pane text-center">
                    <button class="btn large" id="generate-npc">Generate NPC</button>
                </div>
            </Window>
            <div class="md:basis-2/5 flex-shrink standard-dialog center mx-2">
                <!-- <h1 class="dialog-text">Generated NPC Details <button class="btn text-xs float-right mx-2">View NPC History</button></h1> -->
                <p class="dialog-text font-bold p-2 hover:bg-yellow-50">Name: <span id="npc-name" class="font-normal"></span></p>
                <p class="dialog-text font-bold p-2 bg-gray-100 hover:bg-yellow-50">Personality Traits: <span id="npc-personality" class="font-normal"></span></p>
                <p class="dialog-text font-bold p-2 hover:bg-yellow-50">Type: <span id="npc-type" class="font-normal"></span></p>
                <p class="dialog-text bg-gray-100 p-2 hover:bg-yellow-50"><span id="npc-type-description">--</span></p>
            </div>
        </section>
        <section class="clear-both flex items-start flex-wrap justify-center md:justify-between">
            <ListWindow title="Names" listData = {names} listClasses="columns-2 md:columns-5" />
            <ListWindow title="Personalities" listData={personalities} listClasses="columns-2 md:columns-3 lg:columns-5" />
        </section>
    </div>
</Layout>

<script>
    import * as data from '../../data/npcs.json';

    const names = data.name;
    const personalities = data.personality;
    const types = data.type;
    let random = [];

    function generateNPC() {
        random = [
            Math.floor(Math.random() * names.length+1),
            Math.floor(Math.random() * personalities.length+1),
            Math.floor(Math.random() * personalities.length+1),
            Math.floor(Math.random() * types.length)
        ];

        let generated = {
            name: names[random[0]],
            personality: personalities[random[1]] + ', ' + personalities[random[2]],
            type: types[random[3]]
        }

        document.getElementById("npc-name").innerText = generated.name;
        document.getElementById("npc-personality").innerText = generated.personality;
        document.getElementById("npc-type").innerText = generated.type.name;
        document.getElementById("npc-type-description").innerText = generated.type.benefit;
    }

    document.getElementById("generate-npc").addEventListener("click", () => {
        generateNPC();
    });
</script>
