---
import Layout from '../../layouts/Layout.astro';
import Window from '../../layouts/Window.astro';

const graphics = ["Gore","Blood","Bugs","Harm To Animals","Rats","Spiders","Nudity","Sex"];
const audio = ["Romance","Sex","Homophobia","Racism","Real-World","Religion","Sexism","Self-Harm","Suicide"];
---

<!-- 
    TODO
    Collapsible windows
-->
<Layout title="Appendix: Glossary">
  <section class="clear-both flex flex-wrap justify-center items-start">
    <Window title="Help Menu" classes="md:basis-5/12">
      <div class="window-pane">
        <p>
          At any time, you can pause your game to take a step back and collect
          yourself. When the game is paused, nothing can harm your character and
          your avatar is temporarily removed from the situation until you
          unpause.
        </p>
        <p>
          In the Help Menu you can adjust things like difficulty, graphics, and
          audio, setting the game to better fit your needs. Lowering the
          graphical fidelity removes the aesthetic gore. Changing the difficulty
          will help guide your character to content you will enjoy. And audio
          settings can be altered to enable in-game hints or remove the
          sometimes-overwhelming original soundtrack.
        </p>
        <p>
          You can also save your game state and return at a different time, or
          just exit the game and return to your last checkpoint. This is helpful
          if the situation you find yourself in is too overwhelming. Remember!
          If you do not have a previous checkpoint, you can always return to
          Tutorial Town through the main menu.
        </p>
      </div>
    </Window>
    <Window title="CMD" classes="md:basis-5/12">
      <div class="window-pane cmd">
        <p>Special thanks to Monte Cook Games and their "Consent-In-Gaming" checklist.</p>
        <h1>Difficulty</h1>
        <p>Select the one that matches your intended experience:</p>
        <ul class="ml-4 md:ml-10">
            <li><span class="font-bold">EASY</span>: Decrease all dice once down the chain.</li>
            <li><span class="font-bold">MEDIUM</span>: The typical play experience as described in this book.</li>
            <li><span class="font-bold">HARD</span>: Increase all dice once up the chain.</li>
        </ul>
        <h1>Definitions</h1>
        <p>What does all this mean?</p>
        <ul class="ml-4 md:ml-10">
            <li><span class="font-bold">ON</span>: Enthusiastic consent. You want and enjoy having these things shown/discussed in your games.</li>
            <li><span class="font-bold">OFF</span>: A strong no. A hard line. Do not include these in your game.</li>
            <li><span class="font-bold">ONLY SOMETIMES</span>: It's okay if these things are mentioned, veiled, or offstage. And may even be okay onstage but requires discussion ahead of time. Uncertain.</li>
        </ul>
        <h1>Graphics</h1>
        <p>Toggle on/off the graphical fidelity.</p>
        <div class="table w-full ml-4 md:ml-10">
            { graphics.map((setting) =>
                <div class="table-row">
                    <div class="table-cell md:w-1/4">{setting}</div>
                    <div class="table-cell">On</div>
                    <div class="table-cell">Off</div>
                    <div class="table-cell">Only Sometimes</div>
                </div>
            )}
        </div>
        <h1>Audio</h1>
        <p>Toggle on/off the audio descriptions.</p>
        <div class="table w-full ml-4 md:ml-10">
            { audio.map((setting) =>
                <div class="table-row">
                    <div class="table-cell md:w-1/4">{setting}</div>
                    <div class="table-cell">On</div>
                    <div class="table-cell">Off</div>
                    <div class="table-cell">Only Sometimes</div>
                </div>
            )}
        </div>
        <h1>Tools</h1>
        <p>Keep these tools in mind while you play. You can always use them.</p>
        <ul class="ml-4 md:ml-10">
            <li><span class="font-bold">Loading Screen</span>: The current scene fades to black like in a film, letting it all happen off-screen.</li>
            <li><span class="font-bold">Saves</span>: You can revert back to a previous point in the game if everyone at the table agrees it's for the best.</li>
            <li><span class="font-bold">Tab Out</span>: tep away from the game and take a break. Return at your own leisure.</li>
            <li><span class="font-bold">Log Out</span>: Leave the game and decide if you'd like to return at another time.</li>
        </ul>
      </div>
    </Window>
  </section>
</Layout>

<script></script>
