---
import Layout from '../../layouts/Layout.astro';
import TableWindow from '../../components/TableWindow.astro';

import * as data from '../../data/gear/transportation.json';

const { transports } = data;
---

<!-- 
    TODO
    
-->
<Layout title="Gear: Transportation">
  <section class="">
    <TableWindow
      title="Transports"
      tableData={transports}
      tableLabels={['Transport', '1 Trip', 'Own', 'Upkeep', 'Description']}
      tableClasses="md:w-full"
    />
  </section>
</Layout>

<script></script>
