---
import Layout from '../layouts/Layout.astro';
import Window from '../layouts/Window.astro';
---

<!-- 
    TODO
    Write the actual credits
-->
<Layout title="">
  <section class="">
    <div class="flex flex-wrap justify-center md:ml-36">
      <Window title="Credits">
        <div class="window-pane">
          <p>This site is a passion project by Thomas Randall. It started as an exercise to play with some new technology and turned into what you see now.</p>
        </div>
      </Window>
    </div>
  </section>
</Layout>

<script></script>
