---
import Layout from '../layouts/Layout.astro';
import Window from '../layouts/Window.astro';
---

<!-- 
    TODO
    Write the actual credits
-->
<Layout title="">
  <section class="">
    <div class="flex flex-wrap justify-center md:ml-36">
      <Window title="Credits">
        <div class="window-pane">
          <p><a href="https://johnbattle.itch.io/dungeonremastered" target="_blank">.dungeon//remastered</a> by <a href="https://johnbattle.itch.io/" target="_blank">Snow</a></p>
          <p><a href="https://sakofchit.github.io/system.css/" target="_blank">System.css</a> created by <a href="https://sakun.co/" target="_blank">Sakun Archarige</a></p>
          <p>The Chicago 12pt and Geneva 9pt fonts are recreations by <a href="https://twitter.com/blogmywiki" target="_blank">@blogmywiki</a></p>
          <p>Site by <a href="" target="_blank">Thomas Randall</a></p>
        </div>
      </Window>
    </div>
  </section>
</Layout>

<script></script>
