---
import Layout from '../layouts/Layout.astro';
import Window from '../layouts/Window.astro';
---

<!-- 
    TODO
    Write the actual credits
-->
<Layout title="Credits">
  <section class="">
    <div class="flex flex-wrap justify-center md:ml-36">
      <Window title="Credits">
        <div class="window-pane">
          <h1><a href="https://johnbattle.itch.io/dungeonremastered" target="_blank">.dungeon//remastered</a></h1>
          <ul>
            <li>Writing: <a href="https://johnbattle.itch.io/" target="_blank">Snow</a></li>
            <li>Editing: <a href="https://www.youtube.com/@collabswithoutpermission" target="_blank">Vi Huntsman</a></li>
            <li>Layout: <a href="https://micah-anderson.itch.io/" target="_blank">Micah Anderson</a></li>
            <li>Art: <a href="https://fragrant.garden/" target="_blank">Charlotte Laskowski</a>, Micah Anderson, <a href="https://cnharlan.artstation.com/" target="_blank">Chase Harlan</a>, Public Domain</li>
          </ul>
          <p><a href="https://nerves.store/pages/licensing" target="_blank">.dungeon//remastered is distributed under Creative Commons, CC BY-SA 4.0</a></p>
          <hr class="my-3" />
          <h1>ADM-INT</h1>
          <ul>
            <li><a href="https://sakofchit.github.io/system.css/" target="_blank">System.css</a> created by <a href="https://sakun.co/" target="_blank">Sakun Archarige</a></li>
            <li>The Chicago 12pt and Geneva 9pt fonts are recreations by <a href="https://twitter.com/blogmywiki" target="_blank">@blogmywiki</a></li>
            <li>dotdungeon.tools by <a href="https://www.thomasrandall.codes" target="_blank">Thomas Randall</a></li>
          </ul>
        </div>
      </Window>
    </div>
  </section>
</Layout>

<script></script>
