---
import Layout from "../layouts/Layout.astro";
---
<Layout title=".d/rr home">
	<section class="container mx-auto">
		<div class:list={['window ']}>
			<div class="title-bar">
				<button aria-label="Close" class="close"></button>
				<h1 class="title">WELCOME</h1>
				<button aria-label="Resize" class="resize-btn"></button>
			</div>
			<div class="separator"></div>

			<div class="window-pane">
				<p>Welcome to the .dungeon//remastered BETA avatar manager and SRD.</p>
				<p>Some quick links to pages that probably mostly work most of the time.</p>
				<ul>
					<li><a href="/tables/weather">Weather Table</a></li>
					<li><a href="/tables/npcs/">NPC Generator</a></li>
					<li><a href="/tables/pugs/">PUG Generator</a></li>
					<li><a href="/gear/weapons">Gear: Weapons</a></li>
					<li><a href="/gear/armor">Gear: Armor</a></li>
					<li><a href="/gear/equipment">Gear: Equipment</a></li>
					<li><a href="/gear/foils">Gear: Foils</a></li>
					<li><a href="/gear/pets">Gear: Pets</a></li>
					<li><a href="/gear/transportation">Gear: Transportation</a></li>
					<li><a href="/gear/structures">Gear: Structures</a></li>
					<li><a href="/gear/services">Gear: Services</a></li>
					<li><a href="/gear/legendary">Gear: Legendary Items</a></li>
					<li><a href="/appendix/magic">Appendix: Magic</a></li>
					<li><a href="/appendix/skills">Appendix: Skills</a></li>
					<li><a href="/appendix/statuses">Appendix: Statuses</a></li>
				</ul>
				TODO: Avatar Manager v0.2, more tables/generators, UI interaction upgrades
				<p>Some of these pages have gotten relatively little love and may be re-organized. Quality of life improvements will be made as time allows and generally after all items are feature complete.
			</div>
		</div>
	</section>
</Layout>