---
import Window from "../layouts/Window.astro";
// Component Script (JavaScript)
const { title, listData, columns } = Astro.props;
---

<!-- Component Template (HTML + JS Expressions) -->
<Window title={title} classes="md:basis-2/5">
    <div class="window-pane">
        <ul class:list={['text-sm ', columns && 'columns-' + columns]}>
            {listData.map((item) => <li>{item}</li>)}
        </ul>
    </div>
</Window>