---
import Window from "../layouts/Window.astro";
import TableRow from "../components/TableRow.astro";
// Component Script (JavaScript)
const { title, tableData, tableLabels } = Astro.props;
---

<!-- Component Template (HTML + JS Expressions) -->
<Window title="Weather" classes="window md:basis-4/5">
  <div class="window-pane">
    <table class="table-auto">
      <thead>
        <tr class="bg-slate-200">
          {tableLabels.map((label) => <th>{label}</th>)}
        </tr>
      </thead>
        <tbody>
          {tableData.map((row) => <TableRow rowData={Object.values(row)} />)} 
        </tbody>
    </table>
  </div>
</Window>
