---
import Navigation from "./Navigation.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>.d//re | {title}</title>
    <link rel="stylesheet" href="/src/styles/system.css" />
    <style type="text/css">
      .text-vertical {
        writing-mode: vertical-rl;
        text-orientation: upright;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <div class="container">
      <div class:list={['window hover:resize']}>
        <div class="title-bar">
            <button aria-label="Close" class="close"></button>
            <h1 class="title">{title}</h1>
            <button aria-label="Resize" class="resize-btn"></button>
        </div>
        <div class="separator"></div>

        <div class="window-pane text-sm">
            <slot />
        </div>
    </div>
  </body>
</html>
