---

---
<nav>
    <ul role="menubar" class="menu-bar">
        <li role="menuitem" class="menu-item" tabindex="0" aria-haspopup="true">
            File
            <ul role="menu" class="menu">
                <li role="menuitem" class="menu-item"><a href="#menu">New Character</a></li>
                <li role="menuitem" class="menu-item"><a href="/about">About</a></li>
                <li role="menuitem" class="menu-item"><a href="/credits">Credits</a></li>
            </ul>
        </li>
        <li role="menuitem" class="menu-item" tabindex="0" aria-haspopup="true">
            Edit
            <ul role="menu" class="menu">
                <li role="menuitem" class="menu-item"><a href="#menu">Johnny</a></li>
                <li role="menuitem" class="menu-item"><a href="#menu">Marcus</a></li>
            </ul>
        </li>
        <li role="menuitem" class="menu-item" tabindex="0" aria-haspopup="true">
            Tables
            <ul role="menu" class="menu">
                <li role="menuitem" class="menu-item"><a href="/tables/weather">Weather</a></li>
                <li role="menuitem" class="menu-item"><a href="/tables/dungeon">Dungeon</a></li>
                <li role="menuitem" class="menu-item"><a href="/tables/settlements">Settlements</a></li>
                <li role="menuitem" class="menu-item"><a href="/tables/npcs">NPCs</a></li>
                <li role="menuitem" class="menu-item"><a href="/tables/pugs">PUGs</a></li>
                <li role="menuitem" class="menu-item"><a href="/tables/encounters">Random Encounters</a></li>
            </ul>
        </li>
        <li role="menuitem" class="menu-item" tabindex="0" aria-haspopup="true">
            Bestiary
            <ul role="menu" class="menu">
                <li role="menuitem" class="menu-item"><a href="/bestiary">Reading Stats</a></li>
                <li role="menuitem" class="menu-item"><a href="/bestiary">Mobs</a></li>
            </ul>
        </li>
        <li role="menuitem" class="menu-item" tabindex="0" aria-haspopup="true">
            Appendices
            <ul role="menu" class="menu">
                <li role="menuitem" class="menu-item"><a href="/appendix/magic">Magic</a></li>
                <li role="menuitem" class="menu-item"><a href="/appendix/skills">Expanded Skills</a></li>
                <li role="menuitem" class="menu-item"><a href="/appendix/statuses">Statuses</a></li>
            </ul>
        </li>
    </ul>
</nav>