---

---
<nav class="flex flex-nowrap justify-between mx-auto p-4">
    <div class="flex flex-row" id="navbar-default">
        <ul role="menubar" class="menu-bar flex flex-col md:flex-row">
            <li role="menuitem" class="menu-item md:inline-flex" tabindex="1" aria-haspopup="false">
                <a href="/">.d/r ADM-INT</a>
            </li>
            <li role="menuitem" class="menu-item hidden md:inline-flex" tabindex="2" aria-haspopup="true">
                File
                <ul role="menu" class="menu">
                    <li role="menuitem" class="menu-item"><a href="/avatar">New Character</a></li>
                    <!-- <li role="menuitem" class="menu-item"><a href="/about">About</a></li> -->
                    <li role="menuitem" class="menu-item"><a href="/help">Help & Safety</a></li>
                    <li role="menuitem" class="menu-item"><a href="/credits">Credits</a></li>
                </ul>
            </li>
            <li role="menuitem" class="menu-item hidden md:inline-flex" tabindex="3" aria-haspopup="true">
                Avatars
                <ul role="menu" class="menu" id="avatar-menu">
                    <li role="menuitem" class="menu-item"><a href="/avatar">New Character</a></li>
                </ul>
            </li>
            <li role="menuitem" class="menu-item hidden md:inline-flex" tabindex="1" aria-haspopup="true">
                Gear
                <ul role="menu" class="menu">
                    <li role="menuitem" class="menu-item"><a href="/gear/weapons">Weapons</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/armor">Armor</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/equipment">Equipment</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/foils">Foils</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/pets">Pets</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/transporation">Transportation</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/structures">Structures</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/services">Services</a></li>
                    <li role="menuitem" class="menu-item"><a href="/gear/legendary">Legendary Items</a></li>
                </ul>
            </li>
            <li role="menuitem" class="menu-item hidden md:inline-flex" tabindex="2" aria-haspopup="true">
                Tables
                <ul role="menu" class="menu">
                    <li role="menuitem" class="menu-item"><a href="/tables/weather">Weather</a></li>
                    <li role="menuitem" class="menu-item"><a href="/tables/npcs">NPCs</a></li>
                    <li role="menuitem" class="menu-item"><a href="/tables/pugs">PUGs</a></li>
                    <li role="menuitem" class="menu-item"><a href="/tables/encounters">Random Encounters</a></li>
                </ul>
            </li>
            <li role="menuitem" class="menu-item hidden md:inline-flex" tabindex="3" aria-haspopup="false">
                <a href="/bestiary">Bestiary</a>
            </li>
            <li role="menuitem" class="menu-item hidden md:inline-flex" tabindex="4" aria-haspopup="true">
                Appendices
                <ul role="menu" class="menu">
                    <li role="menuitem" class="menu-item"><a href="/appendix/magic">Magic</a></li>
                    <li role="menuitem" class="menu-item"><a href="/appendix/skills">Expanded Skills</a></li>
                    <li role="menuitem" class="menu-item"><a href="/appendix/statuses">Statuses</a></li>
                    <li role="menuitem" class="menu-item"><a href="/appendix/glossary">Glossary</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <button id="toggle-nav" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="black" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
</nav>

<script>
    let hidden = true;
    function toggleNav() {
        
        if(hidden){
            document.querySelectorAll('li.menu-item.hidden').forEach(function (elem) {
                elem.classList.remove('hidden');
                elem.classList.add('revealed');
            });
            hidden = false;
        } else {
            document.querySelectorAll('li.menu-item.revealed').forEach(function (elem) {
                elem.classList.add('hidden');
                elem.classList.remove('revealed');
            });
            hidden = true;
        }
    }

    document.getElementById('toggle-nav').addEventListener('click', () => {
        toggleNav();
    });

    let loadedAvatars = JSON.parse(localStorage.getItem('avatars'));

    if (loadedAvatars && Object.keys(loadedAvatars).length) {
        let avatarUL = document.getElementById('avatar-menu');
        let avatarNames = Object.keys(loadedAvatars);
        let baseNode = document.createElement("li");
        baseNode.classList.add('menu-item');
        baseNode.role = "menuitem";

        avatarNames.forEach(name => {
            avatarUL.appendChild(baseNode).innerHTML = "<a href='/avatar?a=" + name.replaceAll(',',', ').toLowerCase() + "'>" + name.toLocaleUpperCase() + "</a>";
            console.log(name);
        });       
    }
</script>