---
const { title, classes } = Astro.props;

const titleID = title.replaceAll(/\W?/g,'');
---

<div class:list={['window ', classes]}>
    <div class="title-bar">
        <button aria-label="Close" class="close"></button>
        <h1 class="title" id={titleID}>// {title} //</h1>
        <!-- <button aria-label="Resize" class="resize-btn"></button> -->
    </div>
    <div class="separator"></div>
    <slot />
</div>

<script>
    document.querySelectorAll("button.close").forEach(function(btn, i, el){
        
        btn.addEventListener("click", () => {
            let windowPane = btn.closest(".window").getElementsByClassName("window-pane")[0];
            if(windowPane.classList.contains("collapse")){
                windowPane.classList.remove("collapse","h-0");
            } else {
                windowPane.classList.add("collapse","h-0");
            }
            
        });
    });
</script>